<header class="bg-primary flex flex-wrap items-center justify-between w-full px-4 sm:px-6 lg:px-8">
  <%= link_to 'コナン映画レビュー', root_path, class: 'btn btn-primary btn-lg btn-block transition duration-300 ease-in-out transform hover:scale-110' %>
  <div class="dropdown dropdown-left">
    <div tabindex="0" role="button" class="btn m-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="fill: none; stroke: currentColor; stroke-width: 2;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </div>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" style="z-index: 1001;">
      <% if current_user && current_user.email == ENV['ADMIN_EMAIL'] %>
        <li><%= link_to '管理画面', admin_path %></li>
      <% end %>
      <li><%= link_to 'ユーザー編集', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
    </ul>
  </div>
</header>
