<div class="swiper-container">  <!-- Swiperのコンテナ -->
  <div class="swiper-wrapper">  <!-- Swiperのスライドラッパー -->
    <% @movies.each do |movie| %>
      <div class="swiper-slide" style="width: 150px;">  <!-- スライドの幅を指定 -->
        <%= render 'pages/page', movie: movie %>  <!-- 映画カードのレンダリング -->
        <!-- ナビゲーションボタン -->
      </div>
    <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('turbo:load', () => {
    const swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,  // 一度に表示されるスライド数を増やしてコンパクトに
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

<style>
  .swiper-slide {
    width: 150px;  // スライドの幅を小さく
  }

  .swiper-button-next, .swiper-button-prev {
    color: blue;
    background: white;
    border-radius: 50%;
    padding: 5px;
  }
</style>
