<div class="grid grid-cols-1 md:grid-cols-2 gap-6">  <!-- グリッド設定、2列 -->
  <% @movie.reviews.each do |review| %>
    <% if review.user && review.user.name %>  <!-- ユーザー名が存在する場合のみ表示 -->
      <div class="card bg-base-100 shadow-lg p-4 rounded-lg w-full flex justify-between">  <!-- フレックスボックスで左右に分割 -->
        <div class="flex-shrink-0">  <!-- 左側の固定サイズのコンテナ -->
          <p class="text-gray-800"><%= review.user.name %></p>  <!-- ユーザー名 -->
          <% if review.user.avatar.present? %>
            <%= image_tag(review.user.avatar.url, alt: "ユーザーアバター", class: "avatar-sm rounded-full", height: "50px", width: "50px") %>  <!-- アバター画像 -->
          <% else %> 
            <%= image_tag('/images/fallback/sample.jpg', alt: "デフォルトアバター", class: "avatar-sm rounded-full", height: "50px", width: "50px") %>  <!-- デフォルトアバター -->
          <% end %>
        </div>

        <div class="flex-grow ml-4 ">  <!-- 右側の可変サイズのコンテナ -->
          <p class="text-gray-800"><%= review.content %></p>  <!-- レビュー内容 -->
        </div>
      </div>
    <% end %>
  <% end %>
</div>
