<div class="container mx-auto px-6 py-8">  <!-- コンテナスタイル -->
  <h2 class="text-2xl font-bold mb-4 text-left">レビュー一覧</h2>  <!-- タイトルも左寄せ -->

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">  <!-- グリッド設定、2列 -->
    <% @movie.reviews.each do |review| %>
      <% if review.user && review.user.name %>  <!-- ユーザー名が存在する場合のみ表示 -->
        <div class="card bg-base-100 shadow-lg p-4 rounded-lg w-full">  <!-- カードスタイリング -->
          <div class="card-title font-bold text-gray-700">  <!-- ユーザー名 -->
            <%= review.user.name %>
          </div>
          
          <div class="card-body">  <!-- レビュー内容 -->
            <p class="text-gray-800"><%= review.content %></p>
          </div>
        </div>
      <% end %>  <!-- ユーザー名がない場合はスキップ -->
    <% end %>
  </div>
</div>
